<p
  class="text-center font-bold text-2xl p-4"
  mat-dialog-title>Edit url</p>

  <div
    class="w-full p-4"
    mat-dialog-content>

    <div class="flex flex-col space-y-3 w-full">
      <div class="flex flex-col">
        <div class="flex justify-between">
          <label
          class="font-bold"
          for="editLongUrl">Long url:</label>

          <button
            (click)="clearLongUrl()"
            class="text-sm text-gray-400 underline">Clear Url</button>
        </div>
        <input
          id="editLongUrl"
          class="border-2 border-gray-400 rounded-xl p-2"
          [(ngModel)]="longUrl"
          placeholder="Long Url"
          type="text">
      </div>

      <div class="flex flex-col">
        <label
          class="font-bold"
          for="editLongUrl">Custom body of short url:</label>
        <input
          id="editShortUrl"
          class="border-2 border-gray-400 rounded-xl p-2"
          [(ngModel)]="customBody"
          placeholder="Custom Url body"
          type="text">
      </div>
    </div>


  </div>

<div
  class="w-full flex justify-around p-3 font-bold space-x-2"
  mat-dialog-actions>
    <button
      class="w-1/2 border border-blue-500 p-3 rounded-xl hover:bg-gray-200"
      mat-button
      (click)="closeDialog()">Cancel</button>
    <button
      class="w-1/2 bg-blue-500 text-white hover:bg-blue-700 p-3 rounded-xl"
      mat-button
      (click)="confirmation()"
      cdkFocusInitial>Confirm</button>
</div>
