<div class="rounded-xl border-2 border-gray-600 bg-white p-3 m-2 space-y-2">
  <div class="flex justify-between">
    <p class="font-bold text-xl truncate">{{ getShortUrl() }}</p>
    <button
      mat-icon-button
      class="flex items-center"
      [cdkCopyToClipboard]="getShortUrl()"
      matTooltip="Copy">
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <p class="text-gray-400 truncate">{{ urlUser.longUrl }}</p>
  <button
    (click)="setDeleteConfirmation()"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>delete</mat-icon>
  </button>
  <button
    (click)="setEditDialog()"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>edit</mat-icon>
  </button>
</div>
