<div class="w-full h-full mt-20 md:mt-0">
  <h2 class="w-full text-center text-5xl font-bold p-10 text-white">Welcome back {{ authService.user?.name }}!</h2>

  <h3 class="text-center text-3xl text-gray-300">Want to create a custom url?</h3>
  <div class="w-full p-10 flex flex-col justify-center items-center gap-3">

    @if (errorMessage) {
      <p class="text-red-500 text-xl">{{ errorMessage }}</p>
    }
    <div class="bg-white border-2 border-gray-400 p-2 m-2 w-full md:w-3/4 rounded-lg">
      <input
        class="p-1 w-full md:w-3/4 focus:outline-none"
        [(ngModel)]="longUrl"
        placeholder="https://your-long-url-here.com"
        type="text">
    </div>

    <div class="flex items-center bg-white border-2 border-gray-400 p-2 m-2 w-full md:w-3/4 rounded-lg">
      <span class="font-bold mr-1 text-sm">http://localhost:8080/api/</span>
      <input
        [(ngModel)]="customBody"
        class="p-1 focus:outline-none w-3/4"
        placeholder="custom/body/here"
        type="text">
    </div>

    <button
      class="bg-red-400 hover:bg-red-500 h-[45px] text-white p-2 rounded-2xl mb-5"
      (click)="shortCustomizedUrl()">Shortern</button>

      @if (loadingUrl) {
        <app-loader/>
      }

      @if (shortUrl) {
        <div class="text-sm md:text-xl p-4">
          <div class="flex items-center w-full md:w-[500px] h-[45px] p-2 justify-between border-1 border-gray-400 bg-white rounded-2xl">
            <p>{{ shortUrl }}</p>
            <button
              class="flex items-center"
              [cdkCopyToClipboard]="shortUrl"
              matTooltip="Copy">
              <mat-icon>content_copy</mat-icon>
            </button>
          </div>
        </div>
      }

  </div>

  <h3 class="text-4xl text-center font-bold p-5 text-white">My Urls ({{ totalUrls }} stored)</h3>
  @if(loadingUserUrl) {
    <div class="w-full flex justify-center">
      <img
      class="w-1/4 h-1/4" src="../../../../assets/userLoader.svg"
      alt="user_loader">
    </div>
  } @else {
    <div class="w-full min-h-[800px] flex flex-col items-center">

      <div class="w-3/4 flex justify-between items-center rounded-2xl p-2 border-2 border-gray-400 bg-white mb-14">
        <input
          [(ngModel)]="searchedUrl"
          placeholder="Search by short url"
          id="longURL"
          class="w-3/4 h-full text-xl mr-2 url-input border-none focus:outline-none"
          type="text">

        <button
          (click)="searchByShortUrl()"
          class="bg-red-400 hover:bg-red-500 h-[45px] text-white p-2 rounded-2xl">Search</button>
      </div>

      @if (userUrls.length > 0) {

        <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-1">
          @for (userUrl of userUrls; track $index) {
            <app-url-card
              (deleteUrl)="showDeleteConfirmation($event)"
              (editUrl)="showEditDialog($index)"
              [urlUser]="userUrl"/>
          }
        </div>

        <mat-paginator
          class="w-full font-bold  mt-auto"
          [length]="totalUrls"
          [pageSize]="10"
          (page)="changePage($event)"
          aria-label="Select page">
        </mat-paginator>
      } @else {
        <div class="flex flex-col gap-2 justify-center items-center p-10">
          <img ngSrc="../../../../assets/no-content.png" width="250" height="250" priority alt="no_urls_image">
          <p class="text-2xl text-white">You dont have any url registered...</p>
        </div>
      }
    </div>
  }

</div>
