<footer class="w-full h-fit bg-slate-700 text-gray-300">
  <div>
    <!-- Enlaces a Redes Sociales y Contacto -->
    <div class="contact-info">
      <p>Made by Vicent Payà Giner</p>
      <ul>
        <li><a href="vicentpayaginer@gmail.com">Email</a></li>
        <li><a href="https://www.linkedin.com/in/tu-perfil" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        <li><a href="https://github.com/tu-usuario" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>
