<footer class="w-full h-fit bg-slate-700 text-gray-300 p-8">
  <div>
    <p class="pb-3">Made by <span class="font-bold">Vicent Payà Giner</span></p>
    <hr class="border border-gray-300">

    <div class="w-full flex justify-between">
      <div class="pt-3">
        <p class="font-bold">Contact</p>
        <ul class="flex flex-col md:flex-row gap-3 md:gap-12 underline pt-1">
          <li><a href="mailto:vicentpayaginer@gmail.com">Email</a></li>
          <li><a href="https://www.linkedin.com/in/vicent-pay%C3%A0-4357232b7/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
          <li><a href="https://github.com/Mariskii" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
      </div>

      <div class="pt-3">
        <p class="font-bold">Repositories</p>
        <ul class="flex flex-col md:flex-row gap-3 md:gap-12 underline pt-1">
          <li><a href="https://github.com/Mariskii/Urlino-Api" target="_blank" rel="noopener noreferrer">Backend</a></li>
          <li><a href="https://github.com/Mariskii/Urlino-App" target="_blank" rel="noopener noreferrer">Frontend</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
